<!-- slder -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../assets/images/home-bg-3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-white">
          <h5>Reveal Glowing</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, aliquam?</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/images/home-bg-4.jpg " class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-white">
          <h5>Reveal Glowing</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, inventore?</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/home-bg-5.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-white">
          <h5>Reveal Glowing</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, deleniti.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!-- ---------------------------------------collection --------------------------------------------->

 <div class="container p-5">
  <div class="row justify-content-center">
    <div  class="col-lg-4  col-md-6 col-sm-12 mb-3 ">
     <div class="collection">
      <img class="collection-img" src="../../../assets/images/11.jpg" alt="" srcset="">
      <div class="collection-content">
        <h4>Summer Collection</h4>
        <p>Starting at $17.99</p>
      </div>
      <div class="span">
        <span> Shop now   </span>
        <i class="fas fa-arrow-right"></i>
       </div>
       <div class="collection-animate"></div>
    </div>
    
    </div>
    <div  class="col-lg-4  col-md-6 col-sm-12 mb-3  ">
      <div class="collection">
        <img class="collection-img" src="../../../assets/images/15.jpg" alt="" srcset="">
        <div class="collection-content">
          <h4>What’s New?</h4>
          <p>Get the glow</p>
        </div>
        <div class="span">
          <span> discover now   </span>
          <i class="fas fa-arrow-right"></i>
         </div>
         <div class="collection-animate"></div> 
      </div> 

    </div>

    <div  class="col-lg-4  col-md-6 col-sm-12  mb-3  ">
      <div class="collection">
        <img class="collection-img"src="../../../assets/images/17.jpg" alt="" srcset="">
        <div class="collection-content">
          <h4>Buy 1 Get 1</h4>
          <p>Starting at $7.99
          </p>
        </div>
        <div class="span">
          <span> discover now  </span>
          <i class="fas fa-arrow-right"></i>
         </div>
         <div class="collection-animate"></div>
      </div>
    </div>

  </div>
</div> 


 
<!---------------------------- Banner ------------------------------------------------------------>
  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-8 col-md-7 col-sm-12  banner">
      <div class="banner-img1 h-100">
          <img src="../../../assets/images/Web-Designers.jpeg" alt="" srcset="" class="w-100 h-100"> 
        <div class="banner-content">
        <p>NEW COLLECTION</p>
        <h4>Discover Our Autumn Skincare</h4>
        <button class="btn btn-light">Explore more</button>
      </div>
      <div class="collection-animate"></div>
  </div>
      </div>

      <div class=" col-lg-4  col-md-5 col-sm-12 banner"> 
        <div class="banner-img2 h-100 ">
          <img src="../../../assets/images/16.jpg" alt="" srcset=""class="w-100 h-100 "> 
        <div class="banner-content">
        <h4>25% off Everything</h4>
        <p>Makeup with extended range in colors for every human</p>
        <button class="btn btn-light">Shop sale</button>
      </div>
      <div class="collection-animate"></div>
      </div>

    </div>

  </div>

  </div>
<!-------------------- Features --------------------------------------------------------->
<div class="container">
  <div class="row ">
    <h2 class="text-center p-5">Why Shop with Glowing?</h2>

    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="imgfeature"><img src="../../../assets/images/feature-1.jpg" alt="" srcset="" class="myimg-feature"></div>
      
      <div class="text-feature text-center">
        <h5>Guaranteed PURE</h5>
        <p>All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients
      </p>
      </div>
      
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="imgfeature">  <img src="../../../assets/images/feature-2.jpg" alt="" srcset="" class="myimg-feature"></div>
    
    <div class="text-feature text-center">
      <h5>Completely Cruelty-Free</h5>
      <p>All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients</p>
    </div>
  </div>

    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="imgfeature"><img src="../../../assets/images/feature-3.jpg" alt="" srcset=""class="myimg-feature"></div>
    
    <div class="text-feature text-center">
      <h5>Ingredient Sourcing</h5>
      <p>All Grace formulations adhere to strict purity standards and will never contain harsh or toxic ingredients</p>
    </div>
  </div>
  </div>
</div>


    
<!----------------------Blogs---------------------------------------------------->
<div class="container p-5">
  <h4 class="text-center pb-3">More to Discover</h4>
  <div class="row justify-content-center">
<figure class="figure col-lg-4 col-md-6 col-sm-12">
  <img src=".../../../assets/images/blog-1.jpg" class="figure-img img-fluid rounded" alt="...">
  <p class="text-center">find a store</p>
  
</figure>
<figure class="figure col-lg-4 col-md-6 col-sm-12">
  <img src="../../../assets/images/blog-2.jpg" class="figure-img img-fluid rounded" alt="...">
  <p class="text-center">from our BLog</p>
</figure>
<figure class="figure col-lg-4 col-md-6 col-sm-12">
  <img src="../../../assets/images/blog-3.jpg" class="figure-img img-fluid rounded" alt="...">
  <p class="text-center">our store</p>
</figure>
</div>
</div>


 <!-- -----------------------------------footer ------------------------------------->

<div class="container-fluid bg-light p-5">
  <div class="row">
  <div class="col-md-6 col-lg-3 col-sm-6">
    <h5>Company</h5>
<p>Find a location nearest you.</p>
  <a href="#" See Our Stores></a>
 <h6>+391 (0)35 2568 4593</h6>
<p>hello@domain.com</p>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-6">
    <h5>Useful links</h5>
    <ul style="text-decoration: none;" class="p-0">
      <li><a href="#">New Products</a></li>
      <li><a href="#">Best Sellers</a></li>
      <li><a href="#">Bundle & Save</a></li>
      <li><a href="#">Online Gift Card</a></li>
    </ul>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-6">
    <h5>Information</h5>
    <ul style="text-decoration: none; "class="p-0">
      <li><a href="#">Start a return</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Shipping FAQ</a></li>
      <li><a href="#">Terms and condition</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="col-md-6 col-lg-3 col-sm-6">
    <h4>Good emails.</h4>
    <p>Enter your email below to be the first to know about new collections and product launches</p>
    <div class="d-flex gap-2">
    <input type="email" name="email" id="email" placeholder="Enter Your Email address"class="form-control ">
    <input type="button" value="subsucribe" class="btn btn-dark text-center ">
    </div>
  </div>

</div>

<div class="row gy-4 mt-4">
  <div class=" col-lg-4 col-md-6 col-sm-6 ">
   <div class="iconsfoot d-flex gap-2"> <i class="fa-brands fa-twitter text-info "></i>
    <i class="fa-brands fa-facebook text-primary"></i>
    <i class="fa-brands fa-instagram "style="color:purple;"></i>
    <i class="fa-brands fa-youtube text-danger"></i></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 ">
    <img src="../../../assets/images/logo.png " alt="" srcset="" class="w-50 text-dark">
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 ">
  <div class="imgfoot d-flex justify-content-md-end  justify-content-center">  <img src="../../../assets/images/pay.png" alt="" srcset=""class="w-75"></div>

  </div>
 </div>
</div>
<div>
 
